body {
  margin:5px;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  background-color:#111111;
}
li a {
  display: block;
  padding:16px;
  color:white;
}
#navigation ul {
  background-color: #333333;
  margin:0px;
  padding:10px;
  overflow:hidden;
}
#navigation li {
  display:inline;
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  color: blue;
  text-transform:uppercase;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  float:inline-start;
  padding: 15px;
}
#navigation li:hover {
  background-color:#111111 ;
}
h1 {
  text-align: center;
  background-color: blue;
}
#personal-info p {
 position:static;
 left: opx;
 right: 150px;
}
#statement h2 {
  color: blue;
 background-color: #111111;
}
#qualifications h2 {
  color: blue;
 background-color: #111111;
}
#experience h2 {
  color: blue;
 background-color: #111111;
}
#experience p {
  text-transform: uppercase;
  font-weight:800;
  color: blue;
}
#skills h2 {
  color: blue;
 background-color: #111111;
}
#hobbies h2 {
  color: blue;
 background-color: #111111;
}
#languages h2 {
  color: blue;
 background-color: #111111;
}
#references h2 {
  color: blue;
 background-color: #111111;
}
#footer h2 {
  color: blue;
 background-color: #111111;
}
#footer p {
  text-align: right;
}